@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #aa2e2e;
  --primary-foreground: #ffffff;
  --primary-light: #e1d6d6;
  --primary-light-foreground: #121212;
  --secondary: #121212;
  --secondary-foreground: #ffffff;
  --grid-cell: 64px;
  --width-ui: 1920px;
}

@media (min-width: 768px) {
  :root {
    --grid-cell: 96px;
  }
}

@media (min-width: 1024px) {
  :root {
    --grid-cell: 128px;
  }
}

@media (min-width: 1280px) {
  :root {
    --grid-cell: 196px;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-light: var(--primary-light);
  --color-primary-light-foreground: var(--primary-light-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --grid-cell: var(--grid-cell);
  --width-ui: 1920px;
  --max-width-ui: 1920px;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility max-w-ui {
  max-width: var(--width-ui);
}

@utility w-ui {
  width: var(--width-ui);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
